.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .overlay {
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.7);
    }

    .task-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #2a2d32;
        padding: 30px 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-height: 60vh;
        width: 350px;

        .task {

            &:last-of-type {
             margin-bottom: 0;
            }
        }
    }
}