* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  scrollbar-width: thin; /* for mozilla */
}

::-webkit-scrollbar-track {
  background: #181818 !important; 
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 103, 103); 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2a2d32;
}


