.new-task-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    .new-task-overlay {
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.7);
    }

    .new-task-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #2a2d32;
        padding: 20px 40px 30px;
        border-radius: 20px;

        h2 {
            margin-bottom: 30px;
            color: $heading-color;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
        }
    }
}